# Ignore the following files/folders during docker build

.git

__pycache__/
docs/

.coverage
.coverage.*
.coverage/
coverage.xml
.readthedocs.yml
*.toml

!README.md

# temporary unittest artifacts
tests/testing_data/*
